.dxgvControl_Office2003_Blue,
.dxgvDisabled_Office2003_Blue
{
    border: solid 1px #4f93e3;
    font: 11px Tahoma;
    background-color: White;
    color: Black;
    cursor: default;
}
.dxgvDisabled_Office2003_Blue 
{
    color: Gray;
}
.dxgvControl_Office2003_Blue a 
{
    color: black;
}
.dxgvDisabled_Office2003_Blue a
{
    color: Gray;
}
.dxgvLoadingPanel_Office2003_Blue
{
    border:solid 1px #4f93e3;
    background-color: white;
    font: 8pt Tahoma;
    color: #4B77B8;
}
.dxgvLoadingPanel_Office2003_Blue td
{
    white-space: nowrap;
    text-align: center;
    padding: 12px 12px 12px 12px;
}
.dxgvLoadingPanelStatusBar_Office2003_Blue
{
    background-color: Transparent;
    font: 8pt Tahoma;
    color: #4B77B8;
}
.dxgvLoadingPanelStatusBar_Office2003_Blue td
{
    white-space: nowrap;
    text-align: center;
    padding: 0px 2px 0px 2px;
}
.dxgvTable_Office2003_Blue
{
    background-color:Transparent;
    border:0;
    border-collapse: separate !important;
    overflow:hidden;
    font: 11px Tahoma;
    color: Black;
}
.dxgvInlineEditRow_Office2003_Blue,
.dxgvDataRow_Office2003_Blue
{
}
.dxgvInlineEditRow_Office2003_Blue td.dxgv
{
    border-bottom: solid 1px #4f93e3;
    border-right: 1px solid #4f93e3;
    background: #c1d7f8;
}
.dxgvDataRowAlt_Office2003_Blue
{
    background-color: #edf5ff;
}
.dxgvFilterRow_Office2003_Blue 
{
    background: #94b6e8;    
}
.dxgvEditForm_Office2003_Blue 
{    
    background-color: #c1d7f8;
}
.dxgvEditForm_Office2003_Blue td.dxgv
{
    border-bottom: solid 1px #4f93e3;
    padding: 0px 0px 2px 0px;
}
.dxgvSelectedRow_Office2003_Blue
{    
    background: #ffc076;
}
.dxgvFocusedRow_Office2003_Blue
{
    background: url(gvFocusedBack.gif) repeat-x center bottom #fff2c8;
}
.dxgvPreviewRow_Office2003_Blue
{
    background-color: white;
}
.dxgvDetailRow_Office2003_Blue td.dxgv,
.dxgvPreviewRow_Office2003_Blue td.dxgv,
.dxgvEmptyDataRow_Office2003_Blue td.dxgv
{
    padding: 2px 2px 4px 4px;
    border-bottom: solid 1px #bfd3ee;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.dxgvEmptyDataRow_Office2003_Blue td.dxgv
{
    color:#848484;
    text-align:center;
}

.dxgvEditFormDisplayRow_Office2003_Blue td.dxgv,
.dxgvDataRow_Office2003_Blue td.dxgv,
.dxgvDataRowAlt_Office2003_Blue td.dxgv,
.dxgvSelectedRow_Office2003_Blue td.dxgv,
.dxgvFocusedRow_Office2003_Blue td.dxgv
{
    overflow:hidden;
    white-space:nowrap;
    border-bottom: solid 1px #bfd3ee;
    border-right: solid 1px #bfd3ee;
    border-top: 0;
    border-left: 0;
    padding: 2px 2px 4px 4px;
}
.dxgvEditFormDisplayRow_Office2003_Blue td.dxgv 
{
    background: #c1d7f8;    
}
.dxgvSelectedRow_Office2003_Blue td.dxgv
{
    border-color: #fe9552;
}
.dxgvEditingErrorRow_Office2003_Blue td.dxgv
{
    color: white;
    background-color: #fe9552;
    white-space: pre-wrap;
    font-weight: bold;
    border-bottom: solid 1px #4f93e3;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    padding: 6px 10px 6px 10px;
}

.dxgvFilterRow_Office2003_Blue td.dxgv
{
    border-bottom: solid 1px #4f93e3;
    border-right: 1px solid #4f93e3;
    border-top: 0;
    border-left: 0;
    padding: 2px 2px 2px 2px;
}
.dxgvGroupRow_Office2003_Blue
{
    background-color: #a8c5f5;
}
.dxgvFocusedGroupRow_Office2003_Blue
{
    background: url(gvFocusedBack.gif) repeat-x center bottom #fff2c8;
}
.dxgvGroupRow_Office2003_Blue td.dxgv,
.dxgvFocusedGroupRow_Office2003_Blue td.dxgv
{
    border: none 0;
    vertical-align:middle;
    white-space:nowrap;
    border-top: solid 1px white;
    border-bottom: solid 1px #4f93e3;
    padding: 2px 4px 2px 4px;
}
.dxgvHeaderPanel_Office2003_Blue {    
    background: url(gvGradient.gif) repeat-x center top #94b6e8;
    color: Black;
    padding: 8px 4px 8px 4px;
    border-bottom: solid 1px #4f93e3;
}

.dxgvHeader_Office2003_Blue {
    cursor:pointer;
    white-space:nowrap;
    padding: 4px 4px 5px 4px;
    border: solid 1px #4f93e3;
    background: url(gvGradient.gif) repeat-x center top #94b6e8;
    overflow:hidden;
    -moz-user-select: none;
}
.dxgvHeader_Office2003_Blue, .dxgvHeader_Office2003_Blue table {
    color: Black;
    font: 11px Tahoma;
}
.dxgvHeader_Office2003_Blue td {
    white-space:nowrap;
}
.dxgvCustomization_Office2003_Blue 
{
    width:100%;
    padding:0 0 0 0;
    margin:0 0 0 0;
    overflow:auto;
}
.dxgvGroupPanel_Office2003_Blue
{
    white-space:nowrap;    
    background: #a4c6f8;
    border-bottom: solid 1px #4f93e3;
    padding: 7px 4px 8px 6px;
}
.dxgvFooter_Office2003_Blue
{    
    background-color: #94b6e8;
    white-space:nowrap;
}
.dxgvFooter_Office2003_Blue td.dxgv
{
    padding: 4px;
    border-bottom: solid 1px #4f93e3;
    border-right: solid 1px #4f93e3;
}
.dxgvTitlePanel_Office2003_Blue
{
    font-weight:bold;
    padding:3px;
    text-align:center;    
    border-bottom: solid 1px #4f93e3;
    background: url(gvTitleBack.gif) repeat-x center top #ffcf8b;
}
.dxgvLoadingDiv_Office2003_Blue
{
    background-color:Gray;    
}
.dxgvStatusBar_Office2003_Blue 
{
    border-top: solid 1px #4f93e3;
}
.dxgvStatusBar_Office2003_Blue tr
{
    height: 20px;
}
.dxgvCommandColumn_Office2003_Blue
{
    padding: 2px 2px 2px 2px;
}
.dxgvCommandColumn_Office2003_Blue a
{
    margin: 0px 3px 0px 0px;
}
.dxgvCommandColumnItem_Office2003_Blue
{
    padding: 2px 2px 2px 2px;
}
.dxgvEditFormTable_Office2003_Blue
{
    padding: 2px 6px 6px 4px;
    font: 11px Tahoma;
    color: Black;
}
.dxgvEditFormCaption_Office2003_Blue
{
    padding: 4px 4px 4px 10px; 
}

.dxgvInlineEditCell_Office2003_Blue
{
    padding: 1px 1px 1px 1px; 
}

.dxgvEditFormCell_Office2003_Blue
{
    padding: 4px 4px 4px 4px; 
    border: 0;
}