body {
    margin-left: 26px;
    margin-right: 26px;
    padding: 0;
    background-color: White;
}
img.dxLogo {
    margin-top: 4px;
    margin-left: 20px; 
    margin-right: 0px;
}
#tutorialTitle h3 {
    font: 14px Tahoma;
    color: #828282;
    margin: 0 0 0 11px;
}
#tutorialTitle h1 {
    font: 21pt Tahoma;
    color: #2365B0;
    margin: -4px 0 0 11px;
}
.mainContainer {
    border: none;
    width: 100%;
}
#tutorialMenu td {
    background-color: #2365B0; 
    vertical-align: middle; 
    border: none;
}
#tutorialMenuEnvelope {
    margin: 0 0 0 9px;
}
#tutorialMenuEnvelope td {
    padding-bottom: 2px;
}
#tutorialMenuEnvelope .link {
    width: 40px;
    text-align: center;
}
#tutorialMenu .separator {
    padding: 0 14px 0 13px;
    vertical-align: middle;
}
#tutorialMenu .separator div {
    width: 1px;
    height: 15px;
    background-color: #D6E9F9;
}
#tutorialMenu a {
    margin: 0 2px;
    color: #d6e9F9;
    font: 9pt Tahoma;
}
#tutorialMenu a:hover {
    color: white;
}
#hrefExpandCollapse {
    border-bottom: 1px dashed #d6e9F9;
    padding-bottom: 1px;
    text-decoration: none;
}
#hrefExpandCollapse:hover {
    border-bottom-color: white;
}